@font-face {
    font-family: 'pinto';
    src: url('Akira Expanded Demo.otf') format('opentype');

}
h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
    text-align: center;
    color: rgb(0, 0, 0);
 
}
li {
    font-family: 'pinto';
    text-decoration: underline;
   

}


a {
    text-decoration: none;
    color: orangered;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: light;
   
}


h1#principal {
  
}

img{
    border: 1px solid rgb(255, 221, 0);
    border-radius: 5px;
    

    
    
}

#principal {
    text-align: center;
}

.introducao{
    text-align: center;
    font-size: clamp(1em, 1em + 1vw, 1.3em);
    font-family: sans-serif;
    
  
}

small{
font-style: italic;
text-decoration: underline;
}




@media only screen and (max-width: 500px) {
img {
    width: 90%;
    }
}

.dif {
color: brown;
font-size: 1em;
text-decoration: none;
padding: 5px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

mark {
    padding: 2px;
    border-radius: 1px;
}